# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products
STACK_VERSION=8.13.4

# Set the cluster name
CLUSTER_NAME=es_msw_cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200
#ES_PORT=127.0.0.1:9200

# Port to expose Kibana to the host
KIBANA_PORT=5601
#KIBANA_PORT=80

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=12884901888

# Override the default JVM options - Heap size (Default: 2GB)
# Recommended: 50% of the MEM_LIMIT (https://opster.com/guides/elasticsearch/capacity-planning/elasticsearch-heap-size-usage/)
ES_JAVA_OPTS=-Xms6g -Xmx6g

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject
