COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:api_ner/docker-compose.yml:api_sentiment/docker-compose.yml

# NER SERVICE CONFIGURATION
NER_SERVICE_API_KEY=
NER_SERVICE_MAX_DATA_BY_REQUEST=5000
NER_ROOT_PATH=/ner

# SENTIMENT SERVICE CONFIGURATION
SENTIMENT_UVICORN_WORKERS=1
SENTIMENT_SERVICE_API_KEY=
SENTIMENT_SERVICE_MODEL_NAME=clapAI/modernBERT-base-multilingual-sentiment
SENTIMENT_SERVICE_MODEL_MAX_TOKENS=8192
SENTIMENT_SERVICE_MAX_DATA_BY_REQUEST=5000
SENTIMENT_ROOT_PATH=/sentiment
SENTIMENT_MODEL_PATH=./api_sentiment/models/data
SENTIMENT_TRUST_REMOTE_CODE=FALSE
